body {
  font-family: "Lato", sans-serif;
  color: #606060;
  background: linear-gradient(#abcdef, #ffffe0);
  font-size: 12px;
}
.Box1 {
  margin-left: 10px;
  margin-right: 10px;
  background: white;
  opacity: 0.5;
  border-radius: 100px;
  position: relative;
  top: 40px;
}
h1 {
  font-size: 50px;
  padding-top: 50px;
  padding-left: 50px;
  color: #6699cc;
}
form {
  padding-bottom: 50px;
  padding-left: 50px;
}
h2 {
  margin-top: 20px;
  padding-left: 50px;
  font-size: 20px;
  padding-top: 50px;
  padding-bottom: 20px;
}
h3 {
  font-size: 80px;
  position: relative;

  right: -25px;
  color: #6699cc;
}
h4 {
  font-family: "Lato", sans-serif;
  color: #606060;
  font-size: 12px;
  padding-top: 10px;
  padding-bottom: 20px;
}

.Today {
  padding-top: 10px;
  padding-bottom: 0px;
  margin-bottom: 0;
}
.temperature {
  color: #6699cc;
  font-weight: bolder;
}
.avgtemp {
  color: #6699cc;
  font-weight: 900;
  font-size: 18px;
}
.Box {
  padding-top: 20px;
  background-color: white;
  opacity: 0.5;
  border-radius: 150px;
  margin-left: 10px;
  margin-right: 10px;
}
.button {
  color: #6699cc;
}
.metrics {
  font-size: 10px;
  position: relative;
}
